<!doctype html>

<html>
<head>
    <title><%= elementName %> test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="https://code.jquery.com/qunit/qunit-2.0.1.js"></script>

    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../<%= elementName %>.html">
</head>
<body>
    <script>
        (function () {
            'use strict';

            var loadStart = performance.now();

            var loadTime;
            var attachTime;

            QUnit.module('Performance Tests');

            QUnit.test('performanceTest', function (assert) {
                var done = assert.async(2);

                HTMLImports.whenReady(function () {
                    loadTime = performance.now() - loadStart;

                    assert.ok(loadTime, 'loadTime');
                    done();
                });

                document.addEventListener('WebComponentsReady', function() {
                    attachTime = performance.now() - loadStart;

                    assert.ok(attachTime, 'attachTime');
                    done();
                });
            });
        })();
    </script>
<my-element></my-element>
</body>
</html>
